[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/plone-4.2.x.cfg

package-name = collective.quickupload
package-extras = [test]
eggs =
    plone4.csrffixes
test-eggs =
parts +=
    test
versions = versions
plone-series = 4.2


[test]
recipe = zc.recipe.testrunner
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']
eggs =
    ${buildout:package-name} ${buildout:package-extras}
    ${buildout:eggs}
    ${buildout:test-eggs}

[versions]

# The lates version of plone isn't available in launchpad
# https://launchpad.net/plone/4.2/4.2.7
Plone = 4.2.6

# Required by setuptools >= 0.6c11
mock = 0.8.0

# Test with csrffixes.
plone4.csrffixes = 1.0.8
plone.protect = 3.0.16
plone.keyring = 3.0.1
plone.locking = 2.0.8
